<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar-header">
            @Html.ActionLink("Golden Oracle", "Index", "Home", new { area = "" }, new { @class = "navbar-brand title" })
        </div>
        <div>
            <ul class="nav">
                <li class="title-menu">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="title-menu">@Html.ActionLink("Monsters", "Index", "Monsters")</li>
                <li class="title-menu">@Html.ActionLink("Characters", "List", "Character")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
