@model EncounterViewModel
@using TeamAlpha.GoldenOracle.Models.ViewModels

<div>
    @{ Html.RenderPartial("_EncounterLayout", Model); }
</div>
<div class="monster-stat-block">
    <div contenteditable="true" style="width:350px; font-family:Arial,Helvetica,sans-serif;font-size:11px;">
        <div class="name">@Html.DisplayFor(Model => Model.Monsters.Name)</div>
        <div class="description">@Html.DisplayFor(Model => Model.Monsters.Size) @Html.DisplayFor(Model => Model.Monsters.Type), @Html.DisplayFor(Model => Model.Monsters.Alignment)</div>

        <div class="gradient"></div>

        <div class="red">
            <div><span class="bold red">Armor Class</span><span> @Html.DisplayFor(Model => Model.Monsters.Armor_Class)</span></div>
            <div><span class="bold red">Hit Points</span><span> @Html.DisplayFor(Model => Model.Monsters.Hit_Points) (@Html.DisplayFor(Model => Model.Monsters.Hit_Dice))</span></div>
            <div><span class="bold red">Speed</span><span> @Html.DisplayFor(Model => Model.Monsters.Speed)</span></div>
        </div>

        <div class="gradient"></div>

        <table>
            <tr><th>STR    </th><th>DEX   </th><th>CON    </th><th>INT   </th><th>WIS   </th><th>CHA   </th></tr>
            <tr>
                <td>@Html.DisplayFor(Model => Model.Monsters.Strength) (0)</td>
                <td>@Html.DisplayFor(Model => Model.Monsters.Dexterity) (0)</td>
                <td>@Html.DisplayFor(Model => Model.Monsters.Constitution) (0)</td>
                <td>@Html.DisplayFor(Model => Model.Monsters.Intelligence) (0)</td>
                <td>@Html.DisplayFor(Model => Model.Monsters.Wisdom) (0)</td>
                <td>@Html.DisplayFor(Model => Model.Monsters.Charisma) (0)</td>
            </tr>
        </table>

        <div class="gradient"></div>

        <div><span class="bold">Senses</span><span> @Html.DisplayFor(Model => Model.Monsters.Senses)</span></div>
        <div><span class="bold">Languages</span><span> @Html.DisplayFor(Model => Model.Monsters.Languages)</span></div>
        <div><span class="bold">Challenge</span><span> @Html.DisplayFor(Model => Model.Monsters.Challenge_Rating)</span></div>

        <div class="gradient"></div>

        <div class="actions red">Actions</div>

        <div class="hr"></div>

        <div class="attack">
            @foreach (var item in Model.Monsters.Actions)
            {
                <span class="attackname">@item.Name</span>
                <span class="description">@item.Desc</span>
                <br />
            }
        </div>
    </div>
</div>